@import "tailwindcss";

@theme {
  --color-primary: #2463eb;
  --color-secondary: #7c3aed;
  --color-accent: #7c3aed;
  --color-background-light: #f6f6f8;
  --color-background-dark: #111621;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 24;
}

body {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
